@media screen and (max-width:1240px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:840px) {
    h1 {
        text-align: center;
    }

    span {
        display: block;
        text-align: center;
    }

    .container {
        grid-template-columns: 1fr;
        margin: 6.3rem auto 11.4rem;
    }
}